doctype html 
html(lang="ru")
    head 
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title Elite Fire. Автоматические камины

        link(rel="apple-touch-icon" href="img/fav-icons/apple-touch-icon.png" sizes="180x180")
        link(rel="icon" type="image/png" href="img/fav-icons/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="img/fav-icons/favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="img/fav-icons/site.webmanifest")
        <link rel="mask-icon" href="img/fav-icons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="">
        <meta name="theme-color" content="">

        <link rel="stylesheet" href="css/style.min.css">
        <link rel="preconnect" href="#">

        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="index, follow">

        <meta property="og:type" content="website">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:url" content="index.html">

        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="address=no">

    body.page 
        header(.page__header.header)
            div(.header__container)
                div(.header__logo.logo)
                    a.logo__link.link(href="#")
                         span.logo__heading
                            |Elite fire
                            